@font-face {
	font-family: 'FiraSans Black';
	src: url('../fonts/FiraSans-Black.ttf') format("truetype");
}
@font-face {
	font-family: 'FiraSans Bold';
	src: url('../fonts/FiraSans-Bold.ttf') format("truetype");
}
@font-face {
	font-family: 'FiraSans ExtraBold';
	src: url('../fonts/FiraSans-ExtraBold.ttf') format("truetype");
}
@font-face {
	font-family: 'FiraSans Light';
	src: url('../fonts/FiraSans-Light.ttf') format("truetype");
}
@font-face {
	font-family: 'FiraSans Medium';
	src: url('../fonts/FiraSans-Medium.ttf') format("truetype");
}
@font-face {
	font-family: 'FiraSans Regular';
	src: url('../fonts/FiraSans-Regular.ttf') format("truetype");
}
@font-face {
	font-family: 'FiraSans SemiBold';
	src: url('../fonts/FiraSans-SemiBold.ttf') format("truetype");
}
@font-face {
	font-family: 'FiraSans Thin';
	src: url('../fonts/FiraSans-Thin.ttf') format("truetype");
}