:root{
	--blanco:  #FFFFFF;
	--negro: #000000;
	--color1: #555;
	--color2: #777;
	--color3: #0c0633;
	--color4: #8b62ff;
	--color5: #3b1bff;

	/* Fuentes */
	--fblack: 'FiraSans Black';
	--fbold: 'FiraSans Bold';
	--fextrabold: 'FiraSans ExtraBold';
	--flight: 'FiraSans Light';
	--fmedium: 'FiraSans Medium';
	--fregular: 'FiraSans Regular';
	--fsemibold: 'FiraSans SemiBold';
	--fthin: 'FiraSans Thin';
}

/* Estilos globales */
*, *:after, *:before{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
/* Estilos Generales */
html{
	box-sizing: inherit;
	font-size: 62.5%;
}
body{
	font-size: 16px;
	font-family: var(--fregular);
	color: var(--color1);
	padding-top: 7.8rem;
}
a{ text-decoration: none; }
img{ max-width: 100%; }

/* Reutilizables */
.tcenter{text-align: center;}
.cblanco{ color: var(--blanco); }
.cnegro{ color: var(--negro); }
.tshadow{ text-shadow: 2px 2px 2px #000; }
.hideElemento{ display: none; }
.container{
	max-width: 120rem;
	width: 95%;
	margin: 0 auto;
}
.boton{
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
    font-family: var(--flight);
    color: var(--blanco);
    font-size: 1.8rem;
    padding: 1rem;
    display: block;
    margin-left: 0;
    width: fit-content;
    font-weight: 600;
}
/* Header */
.header{
	background-color: var(--blanco);
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ebebeb;
}
.header-container{
	display: flex;
    justify-content: space-between;
    align-items: center;

    row-gap: 2rem;
}
.navigation{
    display: flex;
    column-gap: 3rem;
    align-items: center;

    /* Ocultando el menú mientras el resto de diseño */
    display: none;
}
.navigation-open-movil {
    border: 1px solid #dddddd;
    color: #939393;
    padding: 0.5rem 0.8rem;
    transition: .1s background-color ease-in-out;
}
.navigation-open-movil:hover{
	background-color: #ddd;
}
.navigation-open-movil i{
	font-size: 2.3rem;
}
/* Banner Home */
.banner-home{
	background: #613C22 url("../images/img-home.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	padding: 11.5% 0;
	position: relative;
}
.banner-home:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    opacity: .2;
}
.banner-home-container{
	position: relative;
    z-index: 2;
}
.banner-home-container h1{
	color: var(--blanco);
    font-family: var(--fregular);
    font-weight: 500;
    font-size: 4.5rem;
    margin: 0;
    letter-spacing: .5px;
}
.banner-home-container .description{
	color: var(--blanco);
    font-size: 1.5rem;
    letter-spacing: .5px;
    margin: 3rem 0;
    line-height: 2.5rem;
}
/* About - valuables */
.about{
	padding: 8rem 0;
	border-bottom: 1px solid #ebebeb;
}
.about .title{
    color: var(--color3);
    font-size: 3.5rem;
    font-family: var(--flight);
}
.about .description{ margin: 4rem 0;line-height: 2.8rem; }
.valuables{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.valuables-item{

}
.valuables-item i{
	display: block;
    font-size: 4rem;
    color: var(--color3);
    margin-bottom: 3rem;
}
.valuables-item_title{
    font-family: var(--fmedium);
    margin: 1.5rem 0;
    font-size: 2.5rem;
    color: var(--color3);
}
.valuables-item_description{
line-height: 2.8rem;
}

/* Media Queries */
@media (min-width: 780px) {
	.banner-home-container{
		max-width: 55rem;
    	width: 90%;
	}
	.container{width: 85%;}
	.navigation{display:flex;}
	.navigation-open-movil{display: none;}
}