:root{
	--blanco:  #FFFFFF;
	--negro: #000000;
	--color1: #555;
	--color2: #777;
	--color3: #0c0633;
	--color4: #8b62ff;
	--color5: #3b1bff;

	/* Fuentes */
	--fblack: 'FiraSans Black';
	--fbold: 'FiraSans Bold';
	--fextrabold: 'FiraSans ExtraBold';
	--flight: 'FiraSans Light';
	--fmedium: 'FiraSans Medium';
	--fregular: 'FiraSans Regular';
	--fsemibold: 'FiraSans SemiBold';
	--fthin: 'FiraSans Thin';
}

/* Estilos globales */
*, *:after, *:before{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
/* Estilos Generales */
html{
	box-sizing: inherit;
	font-size: 62.5%;
}
body{
	font-size: 16px;
	font-family: var(--fregular);
	color: var(--color1);
	padding-top: 7.8rem;
}
a{ text-decoration: none; }
img{ max-width: 100%; }

/* Reutilizables */
.tcenter{text-align: center;}
.cblanco{ color: var(--blanco); }
.cnegro{ color: var(--negro); }
.tshadow{ text-shadow: 2px 2px 2px #000; }
.hideElemento{ display: none; }
.showMenu{height: 260px !important;}
.container{
	max-width: 120rem;
	width: 95%;
	margin: 0 auto;
}
.boton{
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
    font-family: var(--flight);
    color: var(--blanco);
    font-size: 1.8rem;
    padding: 1rem;
    display: block;
    margin-left: 0;
    width: fit-content;
    font-weight: 600;
}
/* Header */
.header{
	background-color: var(--blanco);
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ebebeb;
}
.header-container{
	display: flex;
    justify-content: space-between;
    align-items: center;

    row-gap: 2rem;
}
.navigation{
    display: flex;
    column-gap: 3rem;
    align-items: center;
}
.navigation-link{color:var(--color2);transition:.2s color ease-in-out;}
.navigation-link:hover{color:var(--negro);}
.navigation-open-movil {
    border: 1px solid #dddddd;
    color: #939393;
    padding: 0.5rem 0.8rem;
    transition: .1s background-color ease-in-out;
}
.navigation-open-movil:hover{
	background-color: #ddd;
}
.navigation-open-movil i{
	font-size: 2.3rem;
}
/* Banner Home */
.banner-home{
	background: #613C22 url("../images/img-home.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	padding: 11.5% 0;
	position: relative;
}
.banner-home:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    opacity: .2;
}
.banner-home-container{
	position: relative;
    z-index: 2;
}
.banner-home-container h1{
	color: var(--blanco);
    font-family: var(--fregular);
    font-weight: 500;
    font-size: 4.5rem;
    margin: 0;
    letter-spacing: .5px;
}
.banner-home-container .description{
	color: var(--blanco);
    font-size: 1.5rem;
    letter-spacing: .5px;
    margin: 3rem 0;
    line-height: 2.5rem;
}
/* About - valuables */
.about{
	padding: 8rem 0;
	border-bottom: 1px solid #ebebeb;
}
.about .title{
    color: var(--color3);
    font-size: 3.5rem;
    font-family: var(--flight);
}
.about .description{ margin: 4rem 0;line-height: 2.8rem; }
.valuables{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.valuables-item{

}
.valuables-item i{
	display: block;
    font-size: 4rem;
    color: var(--color3);
    margin-bottom: 3rem;
}
.valuables-item_title{
    font-family: var(--fmedium);
    margin: 1.5rem 0;
    font-size: 2.5rem;
    color: var(--color3);
}
.valuables-item_description{
    line-height: 2.6rem;
    font-size: 1.5rem;
}
/* Slider */
.slider{
	margin: 8rem auto;
	overflow: hidden;
}
.slider-container{
    display: grid;
    padding: 0;
    width: 300%;
    grid-template-columns: repeat(3, 1fr);
    animation-name: slider;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.slider-container li {
    list-style: none;
}
.slider-container li:nth-child(1){
	animation-delay: 5s;
}
.slider-container li:nth-child(2){
	animation-delay: 10s;
}
.slider-container li:nth-child(3){
	animation-delay: 15s;
}
.slider-slide {
    width:100%;
}

@keyframes slider {
	0%, 30%{
		margin-left: 0;
	}
	30%, 60%{
		margin-left: -100%;
	}
	60%, 90%{
		margin-left: -200%;
	}
	90%, 100%{
		margin-left: 0;
	}
}
/* Banner Information */
.banner-information{
	background-color: var(--color3);
	color: var(--blanco);
	text-align: center;
	padding: 8rem 0;
}
.banner-information .title{
	font-size: 3.5rem;
}
.banner-information .description{
	font-size: 1.6rem;
	margin: 3rem 0;
}
.banner-information .boton{ margin: 0 auto; }
/* Values Portafolio */
.values-portafolio{
	padding: 8rem 0;
	border-bottom: 1px solid #ebebeb;
}
.values-portafolio-conatiner{
	display: grid;
	row-gap: 3rem;
}
.values-portafolio_item{
	list-style: none;
	margin-bottom: 3rem;
	padding-left: 4rem;
	position: relative;
}
.values-portafolio_item i{
	color: var(--color4);
	position: absolute;
    left: 0;
    font-size: 1.5rem;
    border: 1px solid var(--color4);
    border-radius: 50%;
    padding: 0.5rem;
    top: 6px;
}
.values-portafolio_item .title{
    color: var(--color3);
    font-size: 3rem;
    margin-bottom: 1.4rem;
}
.values-portafolio_item .subtext{
	color: var(--negro);
	font-size: 1.5rem;
	line-height: 2.6rem;
}
.portafolio-brands{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portafolio-brands img{
	flex: 0 1 33%;
    margin-bottom: 3rem;
}
/* Footer*/
.footer{
	padding: 6rem 0;
}
.foo-container{
	display: grid;
}
.foo1 .title, .foo2 .title, .foo3 .title{
	font-size: 2.2rem;
    color: var(--color3);
    margin-bottom: 1.5rem;
}
.foo1 .subtext, .foo2 .copy, .foo2 .copy a{
	font-size: 1.5rem;
	color: var(--negro);
}
.foo1 .subtext{
	line-height: 2.5rem;
}
.foo2{margin: 3rem 0;}
.foo2 .copy a:hover{
	text-decoration: underline;
	color: var(--color5);
}
.socialnetwork{
	display: flex;
	gap: 1rem;
	margin-bottom: 1.5rem;
}
.socialnetwork a{
	border: 1px solid #ebebeb;
	border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialnetwork a i{
	color: var(--color3);
	font-size: 1.4rem;
}
.formulario{display:flex;}
.formulario_email{
	outline: none;
    border: 1px solid #ebebeb;
    flex: 1;
}
/* Media Queries */
@media (min-width: 780px) {
	.banner-home-container{
		max-width: 55rem;
    	width: 90%;
	}
	.container{width: 85%;}
	.navigation{display:flex;height: unset !important;}
	.navigation-open-movil{display: none;}	
}
@media (min-width: 980px) {
	.valuables{
		flex-direction: row;
		gap: 2rem;
	}
	.portafolio-brands{
		flex-direction: row;
	    column-gap: 4rem;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: center;
	    grid-column: 1 / 3;
	        width: 90%;
    margin: 0 auto;
	}
	.portafolio-brands img{
	    margin-bottom: 0;
	    max-width: 230px;
	}
	.values-portafolio-conatiner{
		grid-template-columns: 58% 42%;
    	row-gap: 10rem;
	}
	.values-portafolio-r {
	    margin-top: 10px;
	}
	.foo-container{
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 3rem;
	}
	.foo2 {margin: 0;}
}
@media(max-width: 780px){
	.navigation{
	    position: absolute;
	    left: 0;
	    background-color: var(--blanco);
	    right: 0;
	    flex-direction: column;
	    align-items: flex-start;
	    padding: 0 19px;
	    top: 7.9rem;
    	height: 0;
    	transition: .5s height ease-in-out;
    	overflow: hidden;
    	justify-content: center;
	}
	.navigation-link{
		width: 100%;
	    padding: 1rem 0;
	    margin-bottom: 2px;
	}
}